// Variables
$web-header-color: $color-white;
$web-header-background: $color-black;

// Styles
.web-header {
	top: 0px;
	left: 0px;
	width: 100%;
	//padding: 15px 0px;
	background: $web-header-color;
	color: $web-header-color;
	text-align: center;
	text-transform: uppercase;
	& a {
		color: $color-white;
		text-decoration: none;
	}
}

.navbar-inverse {
	background-color: #ccc;	
	border-color: #ccc;
}

.navbar-inverse .navbar-toggle {
	border-color: #ccc;
	background-color: #999;

}

.navbar-inverse .navbar-nav>li>a {
	color: $web-header-color;
}